@model MeetingInfo

@{
ViewBag.title = "Başvuru Ekranı";
Layout = "_Layout2";
}

<main class="text-center">
    <!-- <h1 class="h4">@ViewBag.Selamlama, @ViewBag.UserName</h1> -->
    <h1 class="h4">@ViewData["Selamlama"], @ViewData["UserName"]</h1>
    <p>Toplantıya katılım durumunuzu bildiriniz.</p>

    <div class="card my-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Location</li>
            <li class="list-group-item">@Model.MeetingDate.ToString("dd/MM/yyyy HH:mm:ss")</li>
            <li class="list-group-item">Katılımcı Sayısı: @Model.ParticipantNumber</li>
        </ul>
    </div>

    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>

</main>